# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd

# Virtual Environment
venv/
ENV/
env/
.venv/

# Flask instance folder (contains local database)
instance/*.db

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
